<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/barber_1.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/images/barber_2.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/images/barber_3.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/images/barber_4.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row align-items-center">
  <div class="col-6 d-flex justify-content-center">
    <img src="assets/images/logo.jpg" alt="Logo barbearia fio de ouro" />
  </div>

  <div class="col-6">
    <p
      class="text-justify"
      style="display: flex; justify-content: center; align-items: center"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula metus
      sagittis lacinia consectetur. Vivamus finibus mollis augue, vitae pulvinar
      dui aliquet sit amet. Donec accumsan, nibh non ultricies tincidunt, nibh
      arcu rhoncus nisl, in mollis eros urna nec purus. Vestibulum quis viverra
      est. Sed viverra non nunc sed porta. Curabitur ac enim lorem. Morbi vel
      ante quam. Ut quis porttitor metus, sed scelerisque enim. Quisque molestie
      faucibus arcu, vitae dapibus odio dignissim vel. Praesent fermentum
      pulvinar ex vitae dignissim. Nullam consequat gravida urna ac gravida.
      Aenean pulvinar vel turpis sed aliquam.
    </p>
  </div>
</div>

<div class="our-prices">
  <div class="row d-flex justify-content-center our-prices-tittle">
    Nossos preços
  </div>

  <div class="row mt-3">
    <div class="col">
      <mat-card class="border-none">
        <mat-card-header>
          <mat-card-title>Cabelo</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/hair.png" alt="Cabelo" />
        <mat-card-content>
          <p class="text-justify">
            Corte de cabelo tradicional, podendo ser personalizado conforme o
            gosto do cliente. Todos os tipos de cabelo, deixamos você igual
            aquele ator famoso que você sempre quis ser quando era criança.
          </p>
        </mat-card-content>
        <mat-card-actions> RS 25,00 </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="border-none">
        <mat-card-header>
          <mat-card-title>Barba</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/images/beard.png"
          alt="Barba"
          class="img-card"
        />
        <mat-card-content>
          <p class="text-justify">
            Quer fazer sua mulher se apaixonar mesmo você estando acima do peso,
            careca, preguiçoso e fedorento? Não temos a solução, mas pelo menos
            podemos deixar sua barba igual a do Aquaman. Fazemos qualquer tipo
            de corte, dos mais simples até estilos mais sofisticados.
          </p>
        </mat-card-content>
        <mat-card-actions> R$ 20,00 </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="border-none">
        <mat-card-header>
          <mat-card-title>Sobrancelha</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/images/eyebrows.png"
          alt="Sobrancelha"
        />
        <mat-card-content>
          <p class="text-justify">
            Corte de cabelo tradicional, podendo ser personalizado conforme o
            gosto do cliente. Todos os tipos de cabelo, deixamos você igual
            aquele ator famoso que você sempre quis ser quando era criança.
          </p>
        </mat-card-content>
        <mat-card-actions> R$ 10,00 </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="row">
  <carousel [height]="350" [cellWidth]="250">
    <div class="carousel-cell" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Sobrancelha</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="/assets/images/barber_1.jpg"
          alt="Sobrancelha"
        />
        <mat-card-content>
          <p class="text-justify">
            Corte de cabelo tradicional, podendo ser personalizado conforme o
            gosto do cliente.
          </p>
        </mat-card-content>
        <mat-card-actions> R$ 10,00 </mat-card-actions>
      </mat-card>
    </div>
    <div class="carousel-cell"></div>
  </carousel>
</div>

<div class="contact-us">
  <div class="row">
    <p class="text-center">Ficou com alguma dúvida? Entre em contato!</p>
  </div>

  <div class="row">
    <div class="col-6">
      <form (ngSubmit)="submitForm()" [formGroup]="formContactUs">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input type="text" matInput formControlName="name" />
          <mat-error *ngIf="formContactUs.controls.name.hasError('required')">
            Campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Telefone</mat-label>
          <input type="tel" matInput formControlName="phone" />
          <mat-error *ngIf="formContactUs.controls.phone.hasError('required')">
            Campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email" />
          <mat-error *ngIf="formContactUs.controls.email.hasError('required')">
            Campo obrigatório
          </mat-error>
          <mat-error *ngIf="formContactUs.controls.email.hasError('email')">
            E-mail inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mensagem</mat-label>
          <textarea matInput formControlName="message"></textarea>
          <mat-error
            *ngIf="formContactUs.controls.message.hasError('required')"
          >
            Campo obrigatório
          </mat-error>
        </mat-form-field>

        <button mat-flat-button type="submit" color="primary">Enviar</button>
      </form>
    </div>

    <div class="col-6">
      <img src="assets/images/barber_2.jpg" alt="Barbeiro" class="img-fluid" />
    </div>
  </div>
</div>
