.our-prices-tittle {
  font-size: 26px;
}

.img-card {
  max-width: 356px;
  max-height: 189px;
}

.contact-us {
  border: 1px solid grey;
  border-radius: 16px;
}

.title {
  font-family: "HurricaneRegular", cursive !important;
  font-size: 160px;
  line-height: 88px;
}

.mt-80 {
  margin-top: 80px;
}

.card-our-history {
  box-shadow: none !important;
}

.carousel-cell {
  margin: 0px 24px;
}

.img-card {
  border-radius: 8px;
}
