<div class="row align-items-center mt-80">
  <div class="col-9">
    <h2 class="title">Barbearia</h2>
    <h1
      class="text-justify d-flex justify-content-center align-items-center title"
    >
      Fio de Ouro
    </h1>
    <p>
      A 45 anos deixando todos da Ponte do Imaruim os mais bonitos de Palhoça.
    </p>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="scroll(ourCuts)"
    >
      Você duvida? Então veja nossos cortes.
    </button>
  </div>
  <div class="col-3 d-flex justify-content-center">
    <img src="assets/images/logo.jpg" alt="Logo barbearia fio de ouro" />
  </div>
</div>

<!-- feedback dos clientes




-->

<div class="row d-flex justify-content-center our-prices-tittle mt-5">
  Nossa história
</div>
<div class="row align-items-center mt-5">
  <div class="col-6">
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Ari Soares Henrique</mat-card-title>
        <mat-card-subtitle>Fundador</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 d-flex justify-content-center">
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Antônio Soares Henrique</mat-card-title>
        <mat-card-subtitle>Sucessor</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="our-prices mt-5">
  <div class="row d-flex justify-content-center our-prices-tittle">
    Nossos preços
  </div>

  <div class="row mt-3 mt-5">
    <div class="col">
      <mat-card class="border-none">
        <mat-card-header>
          <mat-card-title>Cabelo</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/hair.png" alt="Cabelo" />
        <mat-card-content>
          <p class="text-justify">
            Corte de cabelo tradicional, podendo ser personalizado conforme o
            gosto do cliente. Todos os tipos de cabelo, deixamos você igual
            aquele ator famoso que você sempre quis ser quando era criança.
          </p>
        </mat-card-content>
        <mat-card-actions> RS 25,00 </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="border-none">
        <mat-card-header>
          <mat-card-title>Barba</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/images/beard.png"
          alt="Barba"
          class="img-card"
        />
        <mat-card-content>
          <p class="text-justify">
            Quer fazer sua mulher se apaixonar mesmo você estando acima do peso,
            careca, preguiçoso e fedorento? Não temos a solução, mas pelo menos
            podemos deixar sua barba igual a do Aquaman. Fazemos qualquer tipo
            de corte, dos mais simples até estilos mais sofisticados.
          </p>
        </mat-card-content>
        <mat-card-actions> R$ 20,00 </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="border-none">
        <mat-card-header>
          <mat-card-title>Sobrancelha</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/images/eyebrows.png"
          alt="Sobrancelha"
        />
        <mat-card-content>
          <p class="text-justify">
            Corte de cabelo tradicional, podendo ser personalizado conforme o
            gosto do cliente. Todos os tipos de cabelo, deixamos você igual
            aquele ator famoso que você sempre quis ser quando era criança.
          </p>
        </mat-card-content>
        <mat-card-actions> R$ 10,00 </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center our-prices-tittle mt-5" #ourCuts>
  Nossos cortes
</div>

<div class="row mt-5"></div>

<div>
  <div class="row">
    <h2 class="text-center">Ficou com alguma dúvida? Entre em contato!</h2>
  </div>

  <div class="d-flex justify-content-center">
    <div class="row w-75 my-3 contact-us p-5">
      <div class="col-6">
        <form (ngSubmit)="submitForm()" [formGroup]="formContactUs">
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="name" />
            <mat-error *ngIf="formContactUs.controls.name.hasError('required')">
              Campo obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input type="tel" matInput formControlName="phone" />
            <mat-error
              *ngIf="formContactUs.controls.phone.hasError('required')"
            >
              Campo obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="email" />
            <mat-error
              *ngIf="formContactUs.controls.email.hasError('required')"
            >
              Campo obrigatório
            </mat-error>
            <mat-error *ngIf="formContactUs.controls.email.hasError('email')">
              E-mail inválido
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Mensagem</mat-label>
            <textarea matInput formControlName="message"></textarea>
            <mat-error
              *ngIf="formContactUs.controls.message.hasError('required')"
            >
              Campo obrigatório
            </mat-error>
          </mat-form-field>

          <button
            mat-flat-button
            type="submit"
            color="primary"
            [disabled]="formContactUs.invalid"
          >
            Enviar
          </button>
        </form>
      </div>

      <div class="col-6">
        <img
          src="assets/images/barber_2.jpg"
          alt="Barbeiro"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
